<!DOCTYPE html>

<html itemscope="" itemtype="#">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="Keywords" content="cloud云学院 云计算 web openstack 数据分析 人工智能 专业学习网站">
<meta name="Description" content="cloud云学院 云计算 web openstack 数据分析 人工智能 专业学习网站 打造良好的学习环境">

        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">

        <link href="/statics/mobile_user_center/base.css" rel="stylesheet">

    <link href="/statics/mobile_user_center/home.css" rel="stylesheet">



    </head>
    <body ontouchstart="">
        
        
        <input type="hidden" value="154953089" data-name="sam" id="user">

        
    
    <div id="TalionNav">
        <header class="TalionNav">
            <div class="TalionNav-primary">

       		<a href="/mobile_index">
				<img src="/statics/images/logo_01.png" >
				</a>

    </div>
     </header></div>



        <div class="page">
            
    <div class="profile" data-uid="154953089">
        <div class="bd">
            <img src="/medias/{{username.userpic}}">
            <div class="detail">
                <div class="basic-info">
                    <span class="uid">{{username}}</span>
                    <span class="id">ID:154953089</span>
                    <a href="/mobile_logout">退出</a>
                </div>
                <div class="relationship">
                    <a href="/collectbox">我的收藏 {{collect_count}}</a>

                </div>
            </div>
        </div>
    </div>

    <ul class="collection">
         <li class="item"><a href="/collectbox"><img src="/statics/mobile_user_center/favourite.png"><span>我的学习中心</span></a></li>
        <li class="item"><a href="/mobile_index"><img src="/statics/mobile_user_center/movie.png"><span>视频教程</span></a></li>
    <li class="item"><a href="/mobile_docindex"><img src="/statics/mobile_user_center/read.png"><span>文章教程</span></a></li>

        <li class="item"><a href="/uploadindex"><img src="/statics/mobile_user_center/activity.png"><span>我要发布</span></a></li>
    </ul>


        </div>

        <div id="toast"><span></span></div>




        
  

        




        






    













</body></html>
